*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(8, 83, 61);
    text-align: center;
    align-items: center;
}
h1{
    color:rgb(21, 9, 26);
    text-transform: uppercase;
 position: relative;
 top: 70px;
    
}
.game{
    height: 400px;
    width: 400px;
   display: grid;
    grid-template-columns: auto auto auto;
    grid-column: 10px;
    align-items: center;
    position: relative;
    left: 400px;
    top: 100px;
}
.btn{
background-color:white;
height: 110px;
width: 110px;
position: relative;
left: 60px;
color: rgb(21, 22, 22);
border-radius: 30px;
border: none;
font-size:34px ;
box-shadow: 2px 2px 5px pink;
    
}
.resetBtn{
    padding: 10px;
 
    position: relative;
    border: none;
    border-radius:35px ;
    background-color: white;
    left: 200px;
}
P{
    color:white;
    font-size:54px;
    padding: 20px;
}
#new-btn{
    padding: 10px;
    background-color: white;
    border-radius: 35px;
    height: 50px;
    width: 150px;
}
#new-btn:hover{
    background-color: bisque;
    transform: scale(1.5);
}
@media (max-width:700px){
    .btn{
        background-color:white;
        height: 110px;
        width: 110px;
        position: relative;
        left: 10px;
        color: rgb(21, 22, 22);
        border-radius: 30px;
        border: none;
        font-size:34px ;
        box-shadow: 2px 2px 5px pink;
            
        }
        .game{
            height: 400px;
            width: 400px;
            display: grid;
            grid-template-columns: auto auto auto;
            grid-column: 10px;
            align-items: center;
            position: relative;
            left: 40px;
            margin-left: 0px;
            top: 100px;
        }
        .resetBtn{
            padding: 10px;
         
            position: relative;
            border: none;
            border-radius:35px ;
            background-color: white;
            left: 140px;
        }
        P{
            color:rgb(24, 90, 233);
            font-size:54px;
            padding: 20px;
        }
        #new-btn{
            padding: 10px;
            background-color: white;
            border-radius: 35px;
            height: 50px;
            width: 150px;
            position: relative;
            left: 40px;
        }
        h1{
            color:rgb(252, 243, 255);
            text-transform: uppercase;
         position: relative;
         top: 70px;
         left: 50px;
            
        }
    



}